.lds-grid {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -100px);
    width: 80px;
    height: 80px;
    z-index: 100;
  }
  .lds-grid div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #AB47BC;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 15px;
    left: 15px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 15px;
    left: 54px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 15px;
    left: 90px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 54px;
    left: 15px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 54px;
    left: 54px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 54px;
    left: 90px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 90px;
    left: 15px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 90px;
    left: 54px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 90px;
    left: 90px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 90% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  