:focus {outline:none;}

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

#logindiv {
    width: 700px;
    height:450px;
    top: 50%;
    left: 50%;
    border: 5px solid #6A1B9A;
    border-radius: 30px;
    position: absolute;
    transform: translate(-350px, -225px);
    text-align: center;
    z-index: 100;
}

#logindiv > h1{
    font-size: 3em;
    color: #AB47BC;
    margin: 60px 0;
}

#info{
    font-size: 1.5em;
    color: #AB47BC;
    margin: 20px 0;
}

input[type=text]{
    background: none;
    color: #AB47BC;
    border: 2px solid #6A1B9A;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 5px;
}

button{
    width: 30%;
    height: 4vh;
    margin: 15px 0;
    background-color: #AB47BC;
    color: black;
    border-radius: 10px;
    border: 1px solid #AB47BC;
}

.status{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 20vh;
    background-color: #AB47BC;
    border-bottom-right-radius: 15px;
    text-align: center;
    font-size: 1.5em;
    z-index: 100;
}

.status > h1{
    color: #000;
    font-size: 1.2em;
}

.backgroundToMenu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: azure;
    font-size: 2em;
}